<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Food Recommendation</title>
</head>
<body>
    <div class="navbar">
        {% if session['user_type'] == 'normal' %}
            <a href="{{ url_for('uaccount') }}">User Account</a>
            <a href="{{ url_for('uhome') }}">User Home</a>
            <a href="{{ url_for('progress_report') }}">Progress Report</a>
            <a href="{{ url_for('food_recommendation') }}">Food Recommendation</a>
        {% elif session['user_type'] == 'healthcare_professional' %}
            <a href="{{ url_for('haccount') }}">Healthcare Account</a>
            <a href="{{ url_for('hhome') }}">Healthcare Home</a>
        {% endif %}
        <a href="{{ url_for('scan_barcode') }}">Scan Barcode</a>
        <a class="logout" href="{{ url_for('logout') }}">Logout</a>
    </div>
    
    <div class="recommend-container">
        <h1>Food Recommendations</h1>
    
        {% if recommendations %}
            {% for disease, foods in recommendations.items() %}
                <!-- Disease Section -->
                <section>
                    <h2>Food Recommendations for {{ disease }}</h2>
    
                    <!-- Recommended Foods Section -->
                    <h3>Recommended Foods</h3>
                    <ul>
                        {% for food in foods['recommended'] %}
                            <li>{{ food }}</li>
                        {% endfor %}
                    </ul>
    
                    <!-- Foods to Avoid Section -->
                    <h3>Foods to Avoid</h3>
                    <ul>
                        {% for food in foods['avoid'] %}
                            <li>{{ food }}</li>
                        {% endfor %}
                    </ul>
                </section>
            {% endfor %}
        {% else %}
            <p>No recommendations available.</p>
        {% endif %}
    </div>
    
</body>
</html>
